body {
    background-color: rgb(255, 167, 182);
}

h1{
    color: white;
    text-align: center;
    font-weight: bold;
}

h4{
    color: white;
    text-align: center;
    font-weight: bold;
}

h1:hover{
    color: black;
}

#edu{
    color: white;
    text-align: center;
    font-size: small;
}

.lista{
    color: black;
    display: inline-block;
    text-align: left;
    font-size: large;
    font-weight: bold;
}

img{
    width: 10%;
    display: block;
    margin: auto;
}

#ato{
    color: white;
    text-align: center;
    font-size: 200%;
}

#end{
    color: black;
    text-align: center;
}

.container{
    text-align: center;
}